<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0">
		<title>Main Page</title>
		<link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css">
		<link href='//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/Gis.css">
		<script src="/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="/node_modules/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoCHjRkUm9pTAiYCOpsx7iXqAsKn9lfJo&callback=initMap"async defer></script>
		<script src="/js/main.js"></script>
		<script>
			var lat, lon;
			//현재접속한 위치좌표를 만들어 낸다.
			navigator.geolocation.getCurrentPosition(function(pos) {
				lat = pos.coords.latitude;
				lon = pos.coords.longitude;
			});
			console.log(lat);
			console.log(lon);
			function initMap() {
				var geocoder = new google.maps.Geocoder;
				var pointer = new google.maps.LatLng(lat,lon);
				var map = new google.maps.Map(document.getElementById('map'), {
					zoom: 13,
					center: pointer,
				});
				var marker = new google.maps.Marker({
					map: map,
					draggable: true,
					animation: google.maps.Animation.DROP,
					position: pointer,
					title : 'center'
				});
				//맵에 클릭 이벤트 등록
				map.addListener('click',function(e){
					var latlng = {
						lat: e.latLng.lat(),
						lng: e.latLng.lng()
					};
					console.log( latlng );
				})
				marker.addListener('click', function(e) {
					if (marker.getAnimation() !== null) {
						marker.setAnimation(null);
					} else {
						marker.setAnimation(google.maps.Animation.BOUNCE);
					}
				});
			}
    	</script>
		    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
	</head>
	<body>
		<%- include('../Common/Menu.ejs') %>
		<div id="map"></div>
	</body>
</html>