<header>
	<div class="container">
		<span id="home"><span class="icon ion-heart"></span></span>
		<div class="box">
			<ul>
				<li><a href="/Blog/Main.do">Blog</a></li>
				<li><a href="/Trip/Main.do">Trip</a></li>
				<!-- <li><a href="#">Books</a></li> -->
				<li><a href="#">Continue</a></li>
			</ul>
		</div>
		<span id="menu"><span class="ion-navicon-round"></span></span>
	</div>
</header>
<menu>
	<div class="logo"><a href=""><span class="icon ion-heart"></span></a></div>
	<span id="close-menu"><span class="ion-close-round"></span></span>
	<div class="container">
		<div class="box">
			<ul>
				<% for(var i=0; i<length; i++){ %>
					<% if (Menu[i].Common != 'Y') {%>
						<li>
							<a class="trigger" href="#">
								<%= Menu[i].Menuname %>
							</a>
						</li>
					<%} %>
        		<% } %>
			</ul>
			<ul>
				<% for(var i=0; i<length; i++){ %>
					<% if (Menu[i].Common == 'Y') {%>
						<li>
							<a class="trigger" href="#">
								<%= Menu[i].Menuname %>
							</a>
						</li>
					<%} %>
        		<% } %>
				<!-- <li><a href="#">Log In</a> | <a href="#">Register</a></li> -->
			</ul>
			<ul>
				<!-- <li><a class="ion-social-facebook" href="#" target="_blank"></a></li> -->
				<li><a class="ion-social-twitter" href="#" target="_blank"></a></li>
				<li><a class="ion-social-googleplus" href="#" target="_blank"></a></li>
				<!-- <li><a class="ion-social-pinterest" href="#" target="_blank"></a></li> -->
				<li><a class="ion-social-instagram" href="#" target="_blank"></a></li>
			</ul>
			<!-- <div class="sign-up">
				<a href="#">Sign up for Newsletter<span class="ion-arrow-right-c"></span></a>
			</div> -->
		</div>
	</div>
</menu>