<!-- Modal -->
<div class="modal-wrapper">
  <div class="modal">
    <div class="head">
      <a class="btn-close" href="#">
        <span class="icon ion-close" style="padding-right: 10px;"></span>
      </a>
    </div>
    <div class="content">
		<div class="contentTitle">
			<h1 class="menuName">메뉴명</h1>
		</div>
		<div class="modalContent">
			<%- include('./BlogContentList.ejs') %>
		</div>
    </div>
  </div>
</div>