<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0">
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoCHjRkUm9pTAiYCOpsx7iXqAsKn9lfJo&callback=initMap"async defer></script>
	<script>
		var marker, lat, lon;
		navigator.geolocation.getCurrentPosition(function(pos) {
			lat = pos.coords.latitude;
			lon = pos.coords.longitude;
		});
		function initMap() {
			var geocoder = new google.maps.Geocoder;
			var pointer = new google.maps.LatLng(lat,lon);
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 13,
				center: pointer,
				title : 'center'
			});
			marker = new google.maps.Marker({
				map: map,
				draggable: true,
				animation: google.maps.Animation.DROP,
				position: pointer
			});
			marker.addListener('click', function(e) {
          		console.log( e );
          		// 위경도 좌표를 요창할 객체를 만들어 줍니다.
          		var latlng = {
            	lat: e.latLng.lat(),
            	lng: e.latLng.lng()
          		};
          		console.log( latlng );
        	});
		}
		// function toggleBounce() {
		//   if (marker.getAnimation() !== null) {
		// 	marker.setAnimation(null);
		//   } else {
		// 	marker.setAnimation(google.maps.Animation.BOUNCE);
		//   }
		// }
    </script>
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
</head>
<body>
    <div id="map"></div>
</body>
</html>

https://nicgoon.tistory.com/241
https://floor5th.tistory.com/88
