<!DOCTYPE html>
<html>
	<head>
		<title>Login Page</title>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0">
		<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css">
		<link rel="stylesheet" href="/css/Login.css">
		<script src="/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/node_modules/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
		<script src="/js/common.js"></script>
		<script src="/js/login.js"></script>
	</head>
	<body>
		<div id="login">
			<h1>Login</h1>
			<input class="id" type="text" placeholder="UserName"/>
			<input class="pw" type="password"  placeholder="Password"/>
			<input id="data" type="button" value="Login"/>
		</div>
	</body>
</html>
