<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0">
		<title>Main Page</title>
		<link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css">
		<link href='//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/Main.css">
		<script src="/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="/node_modules/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
		<script src="/js/main.js"></script>
	</head>
	<body>
		<header>
			<div class="container">
				<span id="home"><span class="icon ion-heart"></span></span>
				<div class="box">
					<ul>
						<li><a href="#">portfolio</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
				<span id="menu"><span class="ion-navicon-round"></span></span>
			</div>
		</header>
		<menu>
			<div class="logo"><a href=""><span class="ion-camera"></span></a></div>
			<span id="close-menu"><span class="ion-close-round"></span></span>
			<div class="container">
				<div class="box">
					<ul>
						<li><a href="#">Fashion</a></li>
						<li><a href="#">Fashion Shows</a></li>
						<li><a href="#">Culture</a></li>
						<li><a href="#">Magazine</a></li>
						<li><a href="#">Met Gala</a></li>
						<li><a href="#">Videos</a></li>
						<li><a href="" target="_blank">Subscribe</a></li>
					</ul>
					<ul>
						<li><a href="#">Promotions</a></li>
						<li><a href="#">Vogue Archive</a></li>
						<li><a href="#">Log In</a> | <a href="#">Register</a></li>
					</ul>
					<ul>
						<li><a class="ion-social-facebook" href="#" target="_blank"></a></li>
						<li><a class="ion-social-twitter" href="#" target="_blank"></a></li>
						<li><a class="ion-social-googleplus" href="#" target="_blank"></a></li>
						<li><a class="ion-social-pinterest" href="#" target="_blank"></a></li>
						<li><a class="ion-social-instagram" href="#" target="_blank"></a></li>
					</ul>
					<div class="sign-up">
						<a href="#">Sign up for Newsletter<span class="ion-arrow-right-c"></span></a>
					</div>
				</div>
			</div>
		</menu>
		<section id="intro">
			<h1>La comunicacion es algo natural <span>Y te puedo ayudar.</span></h1>
		</section>
		<section id="portfolio">
			<h1>Para mirar el futuro, echa un vistazo tu pasado <span>Solo asi conoceras tu futuro.</span></h1>
		</section>
		<section id="blog">
			<h1>Hermosa como ninguna <span>Dulce como ninguna.</span></h1>
		</section>
	</body>
</html>


<!-- https://wsss.tistory.com/category/Menu/Accordian%20Menu -->
<!-- https://www.tutorialspoint.com/ionic/ionic_icons.htm -->
<!-- https://www.sitepoint.com/single-page-app-without-framework/ -->