<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0">
		<title>WellCome Page</title>
		<link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css">
		<link href='//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/WellCome.css">
		<script src="/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="/node_modules/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
		<script src="/js/WellCome.js"></script>
	</head>
	<body>
		<%- include('./Menu.ejs') %>
		<section id="intro">
			<h1>Welcome to Burat's miscellaneous space <span>Prepare for a new experience.</span></h1>
		</section>
		<section id="portfolio">
			<h1>Para mirar el futuro, echa un vistazo tu pasado <span>Solo asi conoceras tu futuro.</span></h1>
		</section>
		<section id="blog">
			<h1>Hermosa como ninguna <span>Dulce como ninguna.</span></h1>
		</section>
	</body>
</html>


<!-- https://wsss.tistory.com/category/Menu/Accordian%20Menu -->
<!-- https://www.tutorialspoint.com/ionic/ionic_icons.htm -->
<!-- https://www.sitepoint.com/single-page-app-without-framework/ -->
<!-- 추후 ztree도 써볼것 >